# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# Prisma generated client
/generated/prisma

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.tsbuildinfo
